
@import '~semantic-ui-css/semantic.min.css';
@import '~c3/c3.min.css';
@import "~scss/global";
  
* {
	box-sizing: border-box;
}
  
html, body {
    margin: 0;
    padding: 0;
    cursor: default;
    font-size: 11.5pt;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: #f7f7f7;
}
  
iframe {
    overflow: hidden;
}

.ui.segment {
	border: 0;
	border-radius: 0.2em;
}
.ui.button {
	border-radius: 0.2em;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}